@font-face {
  font-family: standard;
  src: url(../fonts/GillSans.ttc);
}
@font-face {
  font-family: header-font;
  src: url(../fonts/SquarePeg-Regular.ttf);
}
@media only screen and (max-width: 980px) {
  .home .quote {
    padding: 0 20px;
  }

  .blog,
.gallery,
.gallery-page,
.blog-page,
.contact,
.about {
    padding: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  margin: 0 auto;
}

nav {
  position: relative;
  max-width: 980px;
  padding: 10px 0;
  margin: 30px auto;
  z-index: 99;
}
nav .nav-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
nav .nav-body .nav-logo {
  height: 42px;
  width: 109px;
  margin-left: -8px;
  background-position: center;
  background-repeat: no-repeat;
}
nav .nav-body .links a {
  text-decoration: none;
  font-family: "Gill Sans Regular", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
nav .nav-body span {
  color: #EE4367;
  font-size: 20px;
  font-weight: lighter;
}
nav .nav-body hr {
  width: 980px;
  border: 1px black solid;
}

.white .nav-logo {
  background-image: url("../images/logo/logo-white.svg");
}
.white .nav-body {
  color: white;
}
.white .nav-body a {
  color: white;
  text-decoration: none;
}
.white hr {
  border: 1px white solid;
  background-color: white;
}

.black .nav-logo {
  background-image: url("../images/logo/logo-black.svg");
}
.black .nav-body {
  color: black;
}
.black .nav-body a {
  color: black;
  text-decoration: none;
}
.black hr {
  border: 1px black solid;
  background-color: black;
}

footer {
  width: 100%;
  height: 455px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
footer .footer-logo {
  margin-top: 38px;
  margin-left: -8px;
  height: 52px;
  width: 109px;
  background-image: url("../images/logo/logo-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}
footer .contact-info {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 46px;
  font-family: standard;
  font-size: 16px;
}
footer .subscribe-input {
  margin-bottom: 30px;
}
footer .subscribe-input .subscribe-email {
  width: 529px;
  height: 60px;
  border: none;
  background-color: #F56B88;
  padding-left: 10px;
  color: white;
  font-size: 16px;
  font-family: standard;
}
footer .subscribe-input .subscribe-button {
  height: 60px;
  width: 167px;
  background-color: white;
  border: none;
  color: #EE4367;
  font-size: 16px;
  font-family: standard;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: -10px;
}
footer .icons {
  min-height: 32px;
  max-width: 125px;
  margin-bottom: 45px;
  color: white;
  font-size: 32px;
}
footer .fa-brands:hover {
  cursor: pointer;
}
footer .copyright {
  font-size: 12px;
  font-family: standard;
  color: white;
  opacity: 50%;
}

.subscribe-email::placeholder {
  color: white;
  opacity: 50%;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 980px) {
  .subscribe-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-input .subscribe-button {
    margin: 0;
  }
}
.home {
  position: relative;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-space {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/home-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -145px;
  padding: 145px;
}
.head-space .header-text-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.head-space .header-text-wrapper .header {
  font-family: "PT Serif";
  font-size: 40px;
  color: white;
}
.head-space .header-text-wrapper .subheader {
  color: #EE4367;
  font-family: standard;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 48px;
}
.head-space .header-text-wrapper .altheader {
  font-family: standard;
  font-style: italic;
  font-size: 20px;
  color: white;
  margin-bottom: 48px;
}
.head-space .header-text-wrapper .header-button {
  height: 40px;
  width: 122px;
  background-color: #EE4367;
  border: none;
  color: white;
  font-size: 16px;
  font-family: standard;
  font-weight: bold;
  cursor: pointer;
}

.quote {
  background-color: white;
  max-width: 790px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.quote .quote-text {
  margin-top: 77px;
  color: #FFD140;
  font-family: standard;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 19px;
}
.quote .quote-name {
  color: #EE4367;
  font-size: 15px;
  font-family: "PT Serif";
}
.quote .quote-title {
  font-size: 10px;
  font-family: "PT Serif";
  color: #A8A8A8;
}

.upcoming-events {
  width: 100%;
  min-height: 320px;
  padding: 0 40px;
  padding-top: 48px;
  background-color: #540D6E;
}
.upcoming-events .events-header {
  font-size: 25px;
  font-family: standard;
  color: white;
  margin-bottom: 35px;
}
.upcoming-events .events-header hr {
  margin-top: 11px;
  width: 392px;
  border: 1px white solid;
  background-color: white;
}
.upcoming-events .events-wrapper {
  display: flex;
  justify-content: space-between;
}
.upcoming-events .events-wrapper .event {
  display: flex;
}
.upcoming-events .events-wrapper .event .home-date-block {
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-right: 20px;
}
.upcoming-events .events-wrapper .event .home-date-block .day {
  margin-top: 8px;
  font-size: 22px;
  font-family: standard;
  font-weight: bold;
}
.upcoming-events .events-wrapper .event .home-date-block .month {
  font-size: 12px;
  font-family: standard;
  font-weight: lighter;
}
.upcoming-events .events-wrapper .event .event-text {
  width: 140px;
}
.upcoming-events .events-wrapper .event .event-text .event-title {
  color: white;
  font-size: 15px;
  font-family: standard;
  margin-bottom: 5px;
}
.upcoming-events .events-wrapper .event .event-text .event-desc {
  color: #EE4367;
  font-size: 13px;
  font-family: standard;
}

.home-date-block:hover {
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .events-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .events-wrapper .event {
    margin-bottom: 15px;
  }
}
.about-header {
  margin-top: 60px;
}
.about-header .header-image {
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 380px;
}
.about-header .header-text {
  font-size: 25px;
  font-family: standard;
  color: black;
  margin-top: -23px;
  margin-bottom: 37px;
}
.about-header .header-text hr {
  margin-top: 11px;
  width: 229px;
  border: 1px black solid;
  background-color: black;
}

.about {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 95px;
}
.about .about-text {
  font-family: standard;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

.gallery {
  max-width: 980px;
  margin: 0 auto;
}
.gallery .gallery-header {
  margin-top: 34px;
  font-size: 25px;
  font-family: standard;
  color: black;
}
.gallery .gallery-header hr {
  margin-top: 11px;
  width: 229px;
  border: 1px black solid;
  background-color: black;
}
.gallery .gallery-images-wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
}

.gallery-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.gallery-row .r1i1 {
  height: 187px;
  width: 489px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.6), rgba(255, 209, 64, 0.6)), url("../images/gallery/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 980px) {
  .gallery-row .r1i1 {
    margin-bottom: 20px;
    width: 100%;
    height: 187px;
  }
}
.gallery-row .r1i1:hover {
  cursor: pointer;
}
.gallery-row .r1i2 {
  height: 187px;
  width: 187px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.6), rgba(238, 67, 103, 0.6)), url("../images/gallery/2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 980px) {
  .gallery-row .r1i2 {
    margin-bottom: 20px;
    width: 100%;
    height: 187px;
  }
}
.gallery-row .r1i2:hover {
  cursor: pointer;
}
.gallery-row .r1i3 {
  height: 187px;
  width: 265px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.6), rgba(8, 173, 105, 0.6)), url("../images/gallery/3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 980px) {
  .gallery-row .r1i3 {
    margin-bottom: 20px;
    width: 100%;
    height: 187px;
  }
}
.gallery-row .r1i3:hover {
  cursor: pointer;
}
.gallery-row .r2i1 {
  height: 306px;
  width: 603px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.6), rgba(84, 13, 110, 0.6)), url("../images/gallery/4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 980px) {
  .gallery-row .r2i1 {
    margin-bottom: 20px;
    width: 100%;
    height: 187px;
  }
}
.gallery-row .r2i1:hover {
  cursor: pointer;
}
.gallery-row .r2i2 {
  height: 306px;
  width: 355px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.6), rgba(59, 206, 171, 0.6)), url("../images/gallery/5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 980px) {
  .gallery-row .r2i2 {
    margin-bottom: 20px;
    width: 100%;
    height: 187px;
  }
}
.gallery-row .r2i2:hover {
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .gallery-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}
.gallery-page {
  max-width: 980px;
  margin: 0 auto;
}
.gallery-page .gallery1-banner {
  position: relative;
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.6), rgba(255, 209, 64, 0.6)), url("../images/gallery/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.gallery-page .gallery1-banner .gallery-banner-text {
  position: absolute;
  bottom: -69px;
  display: flex;
  align-items: baseline;
  font-family: standard;
  color: #FFD140;
  text-shadow: 5px 5px 35px black;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery1-banner .gallery-banner-text {
    bottom: -35px;
  }
}
.gallery-page .gallery1-banner .gallery-banner-text .gallery-banner-number {
  vertical-align: bottom;
  font-size: 300px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery1-banner .gallery-banner-text .gallery-banner-number {
    font-size: 150px;
  }
}
.gallery-page .gallery1-banner .gallery-banner-text .gallery-banner-heading {
  max-width: 700px;
  font-size: 140px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery1-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 70px;
  }
}
.gallery-page .gallery2-banner {
  position: relative;
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.6), rgba(238, 67, 103, 0.6)), url("../images/gallery/2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.gallery-page .gallery2-banner .gallery-banner-text {
  position: absolute;
  bottom: -69px;
  display: flex;
  align-items: baseline;
  font-family: standard;
  color: #EE4367;
  text-shadow: 5px 5px 35px black;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery2-banner .gallery-banner-text {
    bottom: -35px;
  }
}
.gallery-page .gallery2-banner .gallery-banner-text .gallery-banner-number {
  vertical-align: bottom;
  font-size: 300px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery2-banner .gallery-banner-text .gallery-banner-number {
    font-size: 150px;
  }
}
.gallery-page .gallery2-banner .gallery-banner-text .gallery-banner-heading {
  max-width: 700px;
  font-size: 140px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery2-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 70px;
  }
}
.gallery-page .gallery2-banner .gallery-banner-text .gallery-banner-heading {
  margin-left: 36px;
}
.gallery-page .gallery3-banner {
  position: relative;
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.6), rgba(8, 173, 105, 0.6)), url("../images/gallery/3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.gallery-page .gallery3-banner .gallery-banner-text {
  position: absolute;
  bottom: -69px;
  display: flex;
  align-items: baseline;
  font-family: standard;
  color: #08AD69;
  text-shadow: 5px 5px 35px black;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery3-banner .gallery-banner-text {
    bottom: -35px;
  }
}
.gallery-page .gallery3-banner .gallery-banner-text .gallery-banner-number {
  vertical-align: bottom;
  font-size: 300px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery3-banner .gallery-banner-text .gallery-banner-number {
    font-size: 150px;
  }
}
.gallery-page .gallery3-banner .gallery-banner-text .gallery-banner-heading {
  max-width: 700px;
  font-size: 140px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery3-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 70px;
  }
}
.gallery-page .gallery3-banner .gallery-banner-text .gallery-banner-heading {
  margin-left: 32px;
}
.gallery-page .gallery4-banner {
  position: relative;
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.6), rgba(84, 13, 110, 0.6)), url("../images/gallery/4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.gallery-page .gallery4-banner .gallery-banner-text {
  position: absolute;
  bottom: -69px;
  display: flex;
  align-items: baseline;
  font-family: standard;
  color: #540D6E;
  text-shadow: 5px 5px 35px black;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery4-banner .gallery-banner-text {
    bottom: -35px;
  }
}
.gallery-page .gallery4-banner .gallery-banner-text .gallery-banner-number {
  vertical-align: bottom;
  font-size: 300px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery4-banner .gallery-banner-text .gallery-banner-number {
    font-size: 150px;
  }
}
.gallery-page .gallery4-banner .gallery-banner-text .gallery-banner-heading {
  max-width: 700px;
  font-size: 140px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery4-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 70px;
  }
}
.gallery-page .gallery4-banner .gallery-banner-text .gallery-banner-heading {
  margin-left: 50px;
  font-size: 115px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery4-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 58px;
  }
}
.gallery-page .gallery5-banner {
  position: relative;
  min-height: 400px;
  max-width: 980px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.6), rgba(59, 206, 171, 0.6)), url("../images/gallery/5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.gallery-page .gallery5-banner .gallery-banner-text {
  position: absolute;
  bottom: -69px;
  display: flex;
  align-items: baseline;
  font-family: standard;
  color: #3BCEAB;
  text-shadow: 5px 5px 35px black;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery5-banner .gallery-banner-text {
    bottom: -35px;
  }
}
.gallery-page .gallery5-banner .gallery-banner-text .gallery-banner-number {
  vertical-align: bottom;
  font-size: 300px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery5-banner .gallery-banner-text .gallery-banner-number {
    font-size: 150px;
  }
}
.gallery-page .gallery5-banner .gallery-banner-text .gallery-banner-heading {
  max-width: 700px;
  font-size: 140px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery5-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 70px;
  }
}
.gallery-page .gallery5-banner .gallery-banner-text .gallery-banner-heading {
  margin-left: 50px;
  font-size: 115px;
}
@media only screen and (max-width: 980px) {
  .gallery-page .gallery5-banner .gallery-banner-text .gallery-banner-heading {
    font-size: 58px;
  }
}
.gallery-page .gallery-page-text-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: standard;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 73px;
}
.gallery-page .gallery-page-text-wrapper .col1 {
  max-width: 490px;
  min-height: 133px;
}
.gallery-page .gallery-page-text-wrapper .col2 {
  max-width: 451px;
  min-height: 133px;
}

@media only screen and (max-width: 980px) {
  .gallery-page-text-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.blog-page {
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
}
.blog-page .blog-page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  max-width: 981px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.6), rgba(238, 67, 103, 0.6)), url("../images/blog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-page .blog-page-banner .date-block {
  height: 155px;
  width: 155px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.blog-page .blog-page-banner .date-block .day {
  margin-top: 8px;
  font-size: 22px;
  font-family: standard;
  font-weight: bold;
}
.blog-page .blog-page-banner .date-block .month {
  font-size: 12px;
  font-family: standard;
  font-weight: lighter;
}
.blog-page .blog-page-banner .date-block .day {
  margin-top: 22px;
  font-size: 55px;
}
.blog-page .blog-page-banner .date-block .month {
  font-size: 31px;
}
.blog-page .blog-page-content-wrapper {
  margin-bottom: 151px;
}
.blog-page .blog-page-content-wrapper .blog-page-header {
  margin-top: 57px;
  color: #EE4367;
  font-family: standard;
  font-size: 20px;
}
.blog-page .blog-page-content-wrapper p {
  font-family: standard;
  font-size: 20px;
  font-weight: lighter;
  max-width: 856px;
  margin-top: 30px;
}

.blog {
  max-width: 980px;
  margin: 0 auto;
}
.blog .blog-header {
  font-size: 25px;
  font-family: standard;
  color: black;
}
.blog .blog-header hr {
  margin-top: 11px;
  width: 229px;
  border: 1px black solid;
  background-color: black;
}
.blog .blog-wrapper {
  margin-top: 31px;
  margin-bottom: 56px;
}
.blog .blog-wrapper .blog-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
@media only screen and (max-width: 980px) {
  .blog .blog-wrapper .blog-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.blog-bit {
  display: flex;
  margin-right: 60px;
}
@media only screen and (max-width: 980px) {
  .blog-bit {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
.blog-bit .bit-date-block {
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-right: 20px;
}
.blog-bit .bit-date-block .day {
  margin-top: 8px;
  font-size: 22px;
  font-family: standard;
  font-weight: bold;
}
.blog-bit .bit-date-block .month {
  font-size: 12px;
  font-family: standard;
  font-weight: lighter;
}
.blog-bit .blog-bit-content {
  width: 380px;
}
.blog-bit .blog-bit-content .blog-bit-image {
  width: 100%;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.blog-bit .blog-bit-content .blog-bit-title {
  color: black;
  font-size: 15px;
  font-family: standard;
  margin-bottom: 11px;
}
.blog-bit .blog-bit-content .blog-bit-desc {
  color: #EE4367;
  font-size: 13px;
  font-family: standard;
}

.bit-date-block:hover {
  cursor: pointer;
}

.contact {
  max-width: 980px;
  margin: 0 auto;
}
.contact .contact-header {
  font-size: 25px;
  font-family: standard;
  color: black;
  margin-bottom: 66px;
}
.contact .contact-header hr {
  margin-top: 11px;
  width: 229px;
  border: 1px black solid;
  background-color: black;
}
.contact .contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 980px) {
  .contact .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.contact .contact-wrapper .contact-fields {
  display: flex;
  flex-direction: column;
  width: 529px;
}
.contact .contact-wrapper .contact-fields .field-name {
  height: 60px;
  max-width: 100%;
  margin-bottom: 21px;
  border: none;
  background-color: #d8d8d8;
  padding-left: 10px;
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-family: standard;
}
.contact .contact-wrapper .contact-fields .field-email {
  height: 60px;
  max-width: 100%;
  margin-bottom: 21px;
  border: none;
  background-color: #d8d8d8;
  padding-left: 10px;
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-family: standard;
}
.contact .contact-wrapper .contact-fields .field-company {
  height: 60px;
  max-width: 100%;
  margin-bottom: 21px;
  border: none;
  background-color: #d8d8d8;
  padding-left: 10px;
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-family: standard;
}
.contact .contact-wrapper .contact-fields .field-msg {
  height: 199px;
  max-width: 100%;
  margin-bottom: 21px;
  border: none;
  background-color: #d8d8d8;
  padding-left: 10px;
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-family: standard;
  padding-top: 10px;
}
.contact .contact-wrapper .contact-map {
  width: 400px;
  height: 442px;
  background-image: url("../images/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 980px) {
  .contact .contact-wrapper .contact-map {
    margin-top: 20px;
  }
}
.contact .contact-send-button {
  height: 60px;
  width: 168px;
  background-color: #EE4367;
  border: none;
  color: white;
  font-size: 16px;
  font-family: standard;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  margin-bottom: 90px;
}
@media only screen and (max-width: 980px) {
  .contact .contact-send-button {
    margin: 0 auto;
  }
}

::placeholder {
  color: black;
  opacity: 75%;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
