@media only screen and (max-width: $content-width) {
  .home {
    .quote {
      padding: 0 20px;
    }
  }

  .blog,
  .gallery,
  .gallery-page,
  .blog-page,
  .contact,
  .about {
    padding: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


#app {

  margin: 0 auto;
  // min-height: 200px;
  // background-color: yellow;


}