//Site Colors
$common-purple: #323333;
$common-red: #f57220;
$common-yellow: yellow;
$common-blue: blue;
$common-green: green;
$common-white: white;

//Site Dimensions
$content-width: 980px;
$nav-footer-height:100px;