//Site Colors
$common-purple: #540D6E;
$common-red: #EE4367;
$common-yellow: #FFD140;
$common-blue: #3BCEAB;
$common-green: #08AD69;
$common-white: white;
$common-black: black;

//Site Dimensions
$content-width: 980px;
$nav-footer-height:100px;