footer {
    width: 100%;
    height: 455px;
    background-color: $common-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $common-white;

    .footer-logo {
        margin-top: 38px;
        margin-left: -8px;
        height: 52px;
        width: 109px;

        background-image: url("../images/logo/logo-white.svg");
        background-position: center;
        // background-size: cover;
        background-repeat: no-repeat;
    }

    .contact-info {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 46px;
        font-family: standard;
        font-size: 16px;
    }

    .subscribe-input {
        margin-bottom: 30px;

        .subscribe-email {
            width: 529px;
            height: 60px;
            border: none;
            background-color: #F56B88;
            padding-left: 10px;
            color: $common-white;
            font-size: 16px;
            font-family: Font-face;
        }

        .subscribe-button {
            @include button(167px, 60px, $common-white, $common-red);
            letter-spacing: 2px;
        }
    }

    .icons {
        min-height: 32px;
        max-width: 125px;
        margin-bottom: 45px;
        color: $common-white;

        font-size: 32px;
    }

    .fa-brands:hover {
        cursor: pointer;
    }

    .copyright {
        font-size: 12px;
        font-family: standard;
        color: $common-white;
        opacity: 50%;
    }
}

::placeholder {
    color: $common-white;
    opacity: 50%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}