nav{
    max-width: $content-width;
    margin:0 auto;
    border-bottom: 2px solid black ;
    text-decoration: none;
    min-height: $nav-footer-height;
    background-color: $common-background;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        width:136px;
        height:75px;
        background-image: url("../images/logo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
    }

    p{
        font-weight: bold;
        font-size: 20px;
        color: $common-orange;
    }

    .links{
        max-width: 1000px;
        margin:0 auto;
        border-bottom: 2px solid $common-orange ;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:$common-orange;
        a {
            color: white;
            text-decoration: none;
        }

        span {
            color: $common-orange;
            margin: 0 20px;
        }
    }
}