.blog {
    width: $content-width;
    margin: 0 auto;

    .blog-header {
        @include header-text(229px);
    }

    .blog-wrapper {
        margin-top: 31px;
        margin-bottom: 56px;

        .blog-row {
            width: 100%;
            display: flex;
            margin-bottom: 30px;
        }
    }

}