.about-header {
    margin-top: 60px;

    .header-image {
        background-image: linear-gradient(rgba($common-yellow, .8), rgba($common-yellow, .8)), url("../images/about.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 380px;
    }

    .header-text {
        @include header-text(229px);
        margin-top: -23px;
        margin-bottom: 37px;
    }
}